<%= simple_form_for(@pig, :html => {:class => 'form-horizontal' }) do |f| %>
  
  <%= f.input :name %>

  <%= f.input :dob, as: :date, :order => [:day, :month, :year] %>
    
  <%= f.hidden_field :status, value: alive_id %>

  <div class="form-actions">
    <%= f.submit nil, class: "btn" %>
  </div>
<% end %>
