<%= form_for(@litter) do |f| %>
  <% if @litter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@litter.errors.count, "error") %> prohibited this litter from being saved:</h2>

      <ul>
      <% @litter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :pig_id, "Sow" %><br />
    <%= f.collection_select(:pig_id, Pig.all, :id, :name, :include_blank => "Please select...") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
