<h1>Listing litters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sow</th>
    <th>No of piglets</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @litters.each do |litter| %>
  <tr>
    <td><%= litter.name %></td>
    <td><%= litter.sow.name %></td>
    <td><%= litter.no_of_piglets %>
    <td><%= link_to 'Show', litter %></td>
    <td><%= link_to 'Edit', edit_litter_path(litter) %></td>
    <td><%= link_to 'Destroy', litter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Litter', new_litter_path %>
