<%= form_for(@slaughter) do |f| %>
  <% if @slaughter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slaughter.errors.count, "error") %> prohibited this slaughter from being saved:</h2>

      <ul>
      <% @slaughter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :butcher_id %><br />
    <%= f.number_field :butcher_id %>
  </div>
  <div class="field">
    <%= f.label :transport_id %><br />
    <%= f.text_field :transport_id %>
  </div>

  <% @pigs.each do |pig| %>
    <%= hidden_field_tag "slaughter[pig_ids][]" %>
    <%= pig.name %>
    <%= check_box_tag "slaughter[pig_ids][]", pig.id, @slaughter.pigs.include?(pig), :id => "slaughter_pig_ids_#{pig.id}" %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
