<h1>Listing slaughters</h1>

<table class="table">
  <tr>
    <th>Butcher</th>
    <th>Transport</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slaughters.each do |slaughter| %>
  <tr>
    <td><%= slaughter.butcher_id %></td>
    <td><%= slaughter.transport_id %></td>
    <td><%= link_to 'Show', slaughter %></td>
    <td><%= link_to 'Edit', edit_slaughter_path(slaughter) %></td>
    <td><%= link_to 'Destroy', slaughter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Slaughter', new_slaughter_path %>
