<!DOCTYPE html>
<html>
<head>
  <title>Mypigapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>My Pig App</h1>
<ul>
  <li><%= link_to "Pigs",pigs_path %></li>
  <li><%= link_to "Litters",litters_path %></li>
</ul>
<hr>

<%= yield %>

</body>
</html>
